.text {
    position: absolute;
    top: 50%; 
    transform:  translate(-50%, -50%);
    left: 50%;
    color: #20202088;
    overflow: hidden;
    font-weight: 700;
    animation: loading 4s 0.5s infinite;
    transition: color 1s;
}

@keyframes loading {
    50% {
        color : transparent
    }
    100% {
        color :#20202088
    }
}
