@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    padding:  0;
    margin:   0;
}
*{
    user-select:  none;
}
@media screen and (min-width : 1024px) {
    ::-webkit-scrollbar {
        width: 15px;
    }
      
    /* Track */
    ::-webkit-scrollbar-track {
        background: #fff;
        padding: 4px 10px;
    }
      
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #0098FF;
        border-radius: 999px;

    }
      
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    ::-webkit-scrollbar {
        width: 12px;
    }
      
    /* Track */
    ::-webkit-scrollbar-track {
        background: #fff;
    }
      
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #0098FF;
        border-radius: 999px;
    }
      
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
@media screen and (max-width : 767px) {
    ::-webkit-scrollbar {
        width: 10px;
    }
      
    /* Track */
    ::-webkit-scrollbar-track {
        background: #fff;
    }
      
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #0098FF;
        border-radius: 999px;
    }
      
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
.scroll-none{
    
    scrollbar-width: none !important;
}
.scroll-none::-webkit-scrollbar {
    width: none !important;
}
.scroll-none::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
