@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0098FF;
    border-radius: 4px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}